<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/blog.css" />
    <link rel="stylesheet" href="../static/css/common-phone.css" media="screen and (max-width:500px)" />
    <link rel="stylesheet" href="../static/css/blog-phone.css" media="screen and (max-width:500px)" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <title>Blue Star 新卒リクルートサイト ブログ</title>
</head>

<body id="body">
    <!-- ヘッダー -->
    <header>
        <div class="logo" onclick="href='#'">
            <img src="../static/image/BlueStarLogo.png">
        </div>
        <nav class="nav">
            <ul>
                <li class="menu-item"><a href="#">About</a></li>
                <li class="menu-item"><a href="#">Member</a></li>
                <li class="menu-item"><a href="#">Blog</a></li>
                <li class="menu-item"><a href="#">Q&A</a></li>
                <li class="menu-item"><a href="#">Gallary</a></li>
                <li class="menu-item"><a href="#">Entry</a></li>
            </ul>
            <div class="openbtn"><span></span><span></span><span></span></div>
        </nav>
        <nav id="g-nav">
            <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
                <ul>
                    <div class="nav-menu">
                        <li>
                            <h2>SiteMap</h2>
                        </li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Q&A</a></li>
                        <li><a href="#">Gallary</a></li>
                    </div>
                    <div class="nav-menu">
                        <li>
                            <h2>Entry</h2>
                        </li>
                        <li>
                            <form action="#">
                                <input type="button" value="新卒採用">
                            </form>
                        </li>
                        <li>
                            <form action="#">
                                <input type="button" value="中途採用">
                            </form>
                        </li>
                    </div>
                    <div class="nav-menu">
                        <li>
                            <h2>Link</h2>
                        </li>
                        <li>
                            <div class="HP-nav">
                                <img src="../static/image/BlueStar.png">
                                <a href="#">Blue Star ホームページ</a>
                            </div>
                        </li>
                        <li>
                            <div class="Wantedly-nav">
                                <img src="../static/image/Wantedly.png">
                                <a href="#">Wantedly 公式ページ</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="circle-bg"></div>
    </header>

    <div class="inner-body">
        <!-- 中央の星 -->
        <div class="back-starWarp">
            <div class="back-star">
                <img src="../static/image/BlueStar.png">
            </div>
        </div>


        <div class="blog">
            <div class="blog-header">
                <div class="header-flex">
                    <h1>入社して３ヶ月が経ちました！</h1>
                    <h2>2000.01.01</h2>
                </div>
                <img src="../static/image/b_simple_45_0M.png">
                <div class="tags">
                    <p class="tag">#外部研修</p>
                    <p class="tag">#新卒1年目</p>
                </div>
            </div>
            <div class="blog-detail">
                <p>こんにちは！<br>
                    23新卒の松原です！<br>
                    <br>
                    5月からシステムイノベーション事業部に配属された私と齋藤君ですが、<br>
                    先日事業部で歓迎会を開いていただきました！
                </p>

                <img src="../static/image/BBQ4.JPG">
                <p class="img-msg">最後に嬉しいサプライズが…！まなごんは研究室時代からのあだ名です笑</p>
                <br>
                <p>とても温かい雰囲気で迎えていただき、<br>
                    改めてこの事業部の一員になれたことを実感しました！😊
                </p>
            </div>
        </div>

        <div class="more-button">
            <input type="button" onclick="href='#'" value="◀ 一覧に戻る">
        </div>

    </div>




    <!-- フッター -->
    <footer>
        <div id="grid-container">
            <div id="itemA">
                <div class="BlueStarLogo-footer">
                    <img src="../static/image/BlueStarName.png">
                </div>
                <p>〒141-0021<br>
                    東京都品川区上大崎 2-15-19 MG目黒駅前6F</p>
                <p>Copyright 2023 株式会社Blue Star</p>
            </div>
            <div id="itemB">
                <div class="classB">
                    <h2>SiteMap</h2>
                    <ul>
                        <li class="menu-item"><a href="#">About</a></li>
                        <li class="menu-item"><a href="#">Member</a></li>
                        <li class="menu-item"><a href="#">Blog</a></li>
                        <li class="menu-item"><a href="#">Q&A</a></li>
                        <li class="menu-item"><a href="#">Gallary</a></li>
                    </ul>
                </div>
            </div>
            <div id="itemC">
                <h2>Entry</h2>
                <div>
                    <form action="#">
                        <input type="button" value="新卒採用">
                    </form>
                    <form action="#">
                        <input type="button" value="中途採用">
                    </form>
                </div>
                <div class="Link">
                    <div class="HP-footer">
                        <img src="../static/image/BlueStar.png">
                        <a href="#">Blue Star ホームページ</a>
                    </div>
                    <div class="Wantedly">
                        <img src="../static/image/Wantedly.png">
                        <a href="#">Wantedly 公式ページ</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>