<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../static/css/reset.css" />
  <link rel="stylesheet" href="../static/css/common.css" />
  <link rel="stylesheet" href="../static/css/common-phone.css" media="screen and (max-width:500px)" />
  <link rel="stylesheet" href="../static/css/gallary.css" />
  <link rel="stylesheet" href="../static/css/gallary-phone.css" media="screen and (max-width:500px)" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <title>Blue Star 新卒リクルートサイト Gallary</title>
</head>

<body id="body">
  <div class="container">
    <section class="area">
      <header>
        <div class="logo" onclick="href='#'">
          <img src="../static/image/BlueStarLogo.png">
        </div>
        <nav class="nav">
          <ul>
            <li class="menu-item"><a href="#">About</a></li>
            <li class="menu-item"><a href="#">Member</a></li>
            <li class="menu-item"><a href="#">Blog</a></li>
            <li class="menu-item"><a href="#">Q&A</a></li>
            <li class="menu-item"><a href="#">Gallary</a></li>
            <li class="menu-item"><a href="#">Entry</a></li>
          </ul>
          <div class="openbtn"><span></span><span></span><span></span></div>
        </nav>
        <nav id="g-nav">
          <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
            <ul>
              <div class="nav-menu">
                <li>
                  <h2>SiteMap</h2>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Member</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">Gallary</a></li>
              </div>
              <div class="nav-menu">
                <li>
                  <h2>Entry</h2>
                </li>
                <li>
                  <form action="#">
                    <input type="button" value="新卒採用">
                  </form>
                </li>
                <li>
                  <form action="#">
                    <input type="button" value="中途採用">
                  </form>
                </li>
              </div>
              <div class="nav-menu">
                <li>
                  <h2>Link</h2>
                </li>
                <li>
                  <div class="HP-nav">
                    <img src="../static/image/BlueStar.png">
                    <a href="#">Blue Star ホームページ</a>
                  </div>
                </li>
                <li>
                  <div class="Wantedly-nav">
                    <img src="../static/image/Wantedly.png">
                    <a href="#">Wantedly 公式ページ</a>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </nav>
        <div class="circle-bg"></div>
      </header>
    </section>

    <div class="inner-body">
      <h1>Gallary</h1>

      <img class="title-border" src="../static/image/b_simple_45_0M.png">

      <div class="img-all">
        <div class="img-wrap1">
          <img src="../static/image/BBQ1.JPG" data-order="1">
          <img src="../static/image/BBQ2.JPG" data-order="4">
          <img src="../static/image/BBQ3.JPG" data-order="7">
          <img src="../static/image/BBQ4.JPG" data-order="10">
          <img src="../static/image/BBQ5.JPG" data-order="13">
          <img src="../static/image/BBQ6.png" data-order="16">
          <img src="../static/image/BBQ7.png" data-order="18">
          <img src="../static/image/Blog-img.png" data-order="21">
          <img src="../static/image/man.jpg" data-order="24">
        </div>
        <div class="img-wrap2">
          <img src="../static/image/BBQ7.png" data-order="2">
          <img src="../static/image/man.jpg" data-order="6">
          <img src="../static/image/BBQ3.JPG" data-order="9">
          <img src="../static/image/BBQ4.JPG" data-order="12">
          <img src="../static/image/BBQ6.png" data-order="15">
          <img src="../static/image/Blog-img.png" data-order="17">
          <img src="../static/image/BBQ1.JPG" data-order="20">
          <img src="../static/image/BBQ5.JPG" data-order="22">

        </div>
        <div class="img-wrap3">
          <img src="../static/image/BBQ1.JPG" data-order="3">
          <img src="../static/image/BBQ6.png" data-order="5">
          <img src="../static/image/Blog-img.png" data-order="8">
          <img src="../static/image/BBQ5.JPG" data-order="11">
          <img src="../static/image/BBQ2.JPG" data-order="14">
          <img src="../static/image/BBQ4.JPG" data-order="19">
          <img src="../static/image/BBQ7.png" data-order="23">
          <img src="../static/image/BBQ2.JPG" data-order="25">
          <img src="../static/image/BBQ3.JPG" data-order="26">
        </div>
      </div>

      <img class="title-border" src="../static/image/b_simple_45_0M.png">
    </div>

    <!-- フッター -->
    <section class="area">
      <footer>
        <div id="grid-container">
          <div id="itemA">
            <div class="BlueStarLogo-footer">
              <img src="../static/image/BlueStarName.png">
            </div>
            <p>〒141-0021<br>
              東京都品川区上大崎 2-15-19 MG目黒駅前6F</p>
            <p>Copyright 2023 株式会社Blue Star</p>
          </div>
          <div id="itemB">
            <div class="classB">
              <h2>SiteMap</h2>
              <ul>
                <li class="menu-item"><a href="#">About</a></li>
                <li class="menu-item"><a href="#">Member</a></li>
                <li class="menu-item"><a href="#">Blog</a></li>
                <li class="menu-item"><a href="#">Q&A</a></li>
                <li class="menu-item"><a href="#">Gallary</a></li>
              </ul>
            </div>
          </div>
          <div id="itemC">
            <h2>Entry</h2>
            <div>
              <form action="#">
                <input type="button" value="新卒採用">
              </form>
              <form action="#">
                <input type="button" value="中途採用">
              </form>
            </div>
            <div class="Link">
              <div class="HP-footer">
                <img src="../static/image/BlueStar.png">
                <a href="#">Blue Star ホームページ</a>
              </div>
              <div class="Wantedly">
                <img src="../static/image/Wantedly.png">
                <a href="#">Wantedly 公式ページ</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../static/js/gallary.js"></script>
  <script src="../static/js/hamburgerMenu.js"></script>

</body>

</html>