<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../static/css/reset.css" />
  <link rel="stylesheet" href="../static/css/common.css" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/common-phone.css" media="screen and (max-width:500px)" />
  <link rel="stylesheet" href="../static/css/index-phone.css" media="screen and (max-width:500px)" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <title>Blue Star 新卒リクルートサイト TOP</title>
</head>

<body id="body">
  <div class="container">
    <section class="area">
      <header>
        <div class="logo" onclick="href='#'">
          <img src="../static/image/BlueStarLogo.png">
        </div>
        <nav class="nav">
          <ul>
            <li class="menu-item"><a href="#">About</a></li>
            <li class="menu-item"><a href="#">Member</a></li>
            <li class="menu-item"><a href="#">Blog</a></li>
            <li class="menu-item"><a href="#">Q&A</a></li>
            <li class="menu-item"><a href="#">Gallary</a></li>
            <li class="menu-item"><a href="#">Entry</a></li>
          </ul>
          <div class="openbtn"><span></span><span></span><span></span></div>
        </nav>
        <nav id="g-nav">
          <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
            <ul>
              <div class="nav-menu">
                <li>
                  <h2>SiteMap</h2>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Member</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">Gallary</a></li>
              </div>
              <div class="nav-menu">
                <li>
                  <h2>Entry</h2>
                </li>
                <li>
                  <form action="#">
                    <input type="button" value="新卒採用">
                  </form>
                </li>
                <li>
                  <form action="#">
                    <input type="button" value="中途採用">
                  </form>
                </li>
              </div>
              <div class="nav-menu">
                <li>
                  <h2>Link</h2>
                </li>
                <li>
                  <div class="HP-nav">
                    <img src="../static/image/BlueStar.png">
                    <a href="#">Blue Star ホームページ</a>
                  </div>
                </li>
                <li>
                  <div class="Wantedly-nav">
                    <img src="../static/image/Wantedly.png">
                    <a href="#">Wantedly 公式ページ</a>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </nav>
        <div class="circle-bg"></div>
      </header>
    </section>

    <div class="inner-body">

      <!-- topメッセージ -->
      <section class="area">
        <div class="top">
          <div class="top-msg" id="grid-TOPcontainer">
            <div id="TOP-itemA">
              <h1 class="top-msg1">成長。</h1>
              <h1 class="top-msg2">そして、</h1>
              <h1 class="top-msg3">期待を越えろ。</h1>
            </div>
            <div id="TOP-itemB">
              <img src="../static/image/im_scenery_star.jpg" class="PC-TOP">
              <img src="../static/image/im_scenery_star_phone.jpg" class="SP-TOP">
            </div>
          </div>
        </div>
      </section>

      <!-- 企業理念 -->
      <section class="area">
        <div class="paragraph">
          <div class="CP-outer">
            <div id="grid-CPcontainer">
              <div id="CP-itemA1" class="CP-msg">
                <h2>付加価値の高いサービスを提供し<br>成長し続ける企業になる</h2>
              </div>
              <div id="CP-itemA2" class="CP-msg">
                <p>
                  クライアントへの高い貢献<br>
                  人と組織の持続的な成長<br>
                  幸せと楽しさへの波及<br>
                  <br>
                  これらをもって、私たちは世の中に高い付加価値を提供する１つ星になります。
                </p>
              </div>
              <div id="CP-itemB">
                <div class="CP-img left-img">
                  <img class="photo-left" src="../static/image/BBQ6.png">
                </div>
              </div>
              <div id="CP-itemC">
                <div class="CP-img right-img">
                  <img class="photo-right" src="../static/image/BBQ7.png">
                </div>
              </div>
              <div class="div-animation-text" id="CP-itemD">
                <div class="animation_text">
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                </div>
                <div class="animation_text2">
                  <p class="news_test2">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test2">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test2">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test2">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                </div>
                <div class="animation_text">
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                  <p class="news_test">Corporate Philosophy Corporate Philosophy&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 社長メッセージ -->

      <section class="area">
        <div class="paragraph">
          <div id="grid-CEOcontainer">
            <div class="message-frame" id="CEO-itemA">
              <img class="photo-ceo" src="../static/image/man.jpg">
            </div>

            <div id="CEO-itemB">
              <div class="message-contents">
                <h2>社長メッセージ</h2>
                <p>「成長を実感できる環境」を第一に会社創りをしてきたBlueStar<br>
                  これからは、『仲間と共に成長をし続ける組織』を創りたい<br>
                  <br>
                  目標は高く、時には実力以上の120％の力を出す必要もあります<br>
                  大変な思いもしながらも、切磋琢磨して取り組み、<br>
                  目標達成した際には「みんなと頑張ってきてよかった…！」<br>
                  と喜びを共有できるような感動体験が待っているでしょう<br>
                  <br>
                  そして、関わる全ての人に、感動体験のパンデミックを起こしたい<br>
                  そんな組織を一緒に創りたい仲間を募集しています
                </p>
              </div>

            </div>

            <div id="CEO-itemC">
              <div class="back-starWarp">
                <div class="back-star">
                  <img src="../static/image/BlueStar.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 求める人物像 -->
      <section class="area">
        <div class="paragraph">
          <div id="grid-personcontainer">
            <div id="PERSON-itemA">
              <div class="person">
                <!-- <div class="person-msg"> -->

                <h2>感動体験を創り続ける、仲間と共に</h2>
                <p>「成長を実感できる環境」を第一に会社創りをしてきたBlueStar<br>
                  これからは、『仲間と共に成長をし続ける組織』を創りたい</p>
                <br>
                <p>目標は高く、時には実力以上の120％の力を出す必要もあります<br>
                  大変な思いもしながらも、切磋琢磨して取り組み、<br>
                  目標達成した際には「みんなと頑張ってきてよかった…！」<br>
                  と喜びを共有できるような感動体験が待っているでしょう</p>
                <br>
                <p>そして、関わる全ての人に、感動体験のパンデミックを起こしたい<br>
                  そんな組織を一緒に創りたい仲間を募集しています</p>
              </div>
              <!-- </div> -->
            </div>
            <div class="person-back" id="PERSON-itemB">
              <h1>Recruit Message<br>
                &
                Personal Mission</h1>
            </div>
          </div>
        </div>
      </section>



      <!-- NEWS -->
      <section class="area">
        <div class="paragraph">
          <div class="news" id="grid-NEWScontainer">
            <div id="NEWS-itemA" class="news-inner">
              <h2>NEWS</h2>
              <div class="news-title">
                <p>2023/07/12 ： 新卒開発チームが発足しました</p>
                <p>2023/09/12 ： 25年新卒採用が開始しました</p>
                <p>2023/12/12 ： Xmasパーティーを行いました！</p>
              </div>
            </div>

            <div id="NEWS-itemB">
              <div class="scroll">
                <ul class="scroll-list">
                  <li><img src="../static/image/BBQ1.JPG"></li>
                  <li><img src="../static/image/BBQ2.JPG"></li>
                  <li><img src="../static/image/BBQ3.JPG"></li>
                  <li><img src="../static/image/BBQ4.JPG"></li>
                  <li><img src="../static/image/BBQ5.JPG"></li>
                  <li><img src="../static/image/BBQ6.png"></li>
                </ul>
                <ul class="scroll-list">
                  <li><img src="../static/image/BBQ1.JPG"></li>
                  <li><img src="../static/image/BBQ2.JPG"></li>
                  <li><img src="../static/image/BBQ3.JPG"></li>
                  <li><img src="../static/image/BBQ4.JPG"></li>
                  <li><img src="../static/image/BBQ5.JPG"></li>
                  <li><img src="../static/image/BBQ6.png"></li>
                </ul>
                <ul class="scroll-list">
                  <li><img src="../static/image/BBQ1.JPG"></li>
                  <li><img src="../static/image/BBQ2.JPG"></li>
                  <li><img src="../static/image/BBQ3.JPG"></li>
                  <li><img src="../static/image/BBQ4.JPG"></li>
                  <li><img src="../static/image/BBQ5.JPG"></li>
                  <li><img src="../static/image/BBQ6.png"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- blog -->
      <section class="area">
        <div class="paragraph">
          <div class="blog BLOG-SP" id="grid-BLOGcontainer">
            <div id="BLOG-itemA">
              <div class="blog-contents">
                <div class="blog-img">
                  <img src="../static/image/BBQ1.JPG">
                </div>
                <div class="blog-contents-msg">
                  <p class="date">2023.07.07</p>
                  <p class="title">入社して3ヶ月が経ちました！</p>
                </div>
                <div class="tags">
                  <p class="tag">#外部研修</p>
                  <p class="tag">#新卒１年目</p>
                </div>
              </div>
            </div>

            <div id="BLOG-itemB">
              <div class="blog-contents">
                <div class="blog-img">
                  <img src="../static/image/BBQ2.JPG">
                </div>
                <div class="blog-contents-msg">
                  <p class="date">2023.07.07</p>
                  <p class="title">入社して3ヶ月が経ちました！</p>
                </div>
                <div class="tags">
                  <p class="tag">#外部研修</p>
                  <p class="tag">#新卒１年目</p>
                </div>
              </div>
            </div>

            <div id="BLOG-itemC">
              <div class="blog-contents">
                <div class="blog-img">
                  <img src="../static/image/BBQ3.JPG">
                </div>
                <div class="blog-contents-msg">
                  <p class="date">2023.07.07</p>
                  <p class="title">入社して3ヶ月が経ちました！</p>
                </div>
                <div class="tags">
                  <p class="tag">#外部研修</p>
                  <p class="tag">#新卒１年目</p>
                </div>
              </div>
            </div>


            <div id="BLOG-itemD">
              <div class="div-animation-text-blog">
                <div class="animation_text3">
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                  <p class="news_test3">BLOG&nbsp;</p>
                </div>
                <div class="animation_text4">
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                  <p class="news_test4">BLOG&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="more-button" id="BLOG-itemE">
              <input type="button" onclick="href='#'" value="more ▶">
            </div>
          </div>
        </div>

      </section>


      <!-- フッター -->
      <section class="area">
        <footer>
          <div id="grid-container">
            <div id="itemA">
              <div class="BlueStarLogo-footer">
                <img src="../static/image/BlueStarName.png">
              </div>
              <p>〒141-0021<br>
                東京都品川区上大崎 2-15-19 MG目黒駅前6F</p>
              <p>Copyright 2023 株式会社Blue Star</p>
            </div>
            <div id="itemB">
              <div class="classB">
                <h2>SiteMap</h2>
                <ul>
                  <li class="menu-item"><a href="#">About</a></li>
                  <li class="menu-item"><a href="#">Member</a></li>
                  <li class="menu-item"><a href="#">Blog</a></li>
                  <li class="menu-item"><a href="#">Q&A</a></li>
                  <li class="menu-item"><a href="#">Gallary</a></li>
                </ul>
              </div>
            </div>
            <div id="itemC">
              <h2>Entry</h2>
              <div>
                <form action="#">
                  <input type="button" value="新卒採用">
                </form>
                <form action="#">
                  <input type="button" value="中途採用">
                </form>
              </div>
              <div class="Link">
                <div class="HP-footer">
                  <img src="../static/image/BlueStar.png">
                  <a href="#">Blue Star ホームページ</a>
                </div>
                <div class="Wantedly">
                  <img src="../static/image/Wantedly.png">
                  <a href="#">Wantedly 公式ページ</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/hamburgerMenu.js"></script>
</body>

</html>