/*inner-body*/
.inner-body {
    padding: 0 0;
    margin-top: 20%;
}
.blog-header h1 {
    font-size: 4.5vw;
}

.blog-header h2 {
    font-size: 4vw;
}

.blog-detail img{
    width: 100%;
    padding: 0 0;
}